@font-face{
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}

html{
    height: 100%;
}

a , body{
    text-decoration: none;
    color: white;
    font-family: 'Lato-Regular', Arial, serif;
}

.main-wrapper{
    display:flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    margin: 0px auto;
    overflow-x: hidden;
}


body{
    transition: all .3s ease;
    height: 100%;
    background-image: url("../images/board.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
}

.feloy {
    padding-left: 20px;
    font-size: 3em;
    height: 10px;
}

nav  span{
    padding: 40px;
    display: inline-block;
    font-size: 1.3em;
    transition: all .2s ease;
}

nav  span:hover{
    transform: scale(1.5);
}

.nav-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
}

@media (max-width: 980px){
    nav{
        display: flex;
        flex-direction: column;
        font-size: .9em;
    }

    nav span:hover{
        transform: scale(1);
    }

    nav  span {
        font-weight: bold;
        font-size: 1.5em;
    }

    .nav-wrapper{

        width: 70%;
        min-height: 550px;
        padding-bottom: 20px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        background-color: rgba(50,51,54, .6);
    }
}


.contact-container{
    display:flex;
    flex-direction: column;
    margin-top: 80px;
    width: 50%;
    height: 40%;
    background-color: rgba(0,0,0, .8);
    padding: 20px;

    align-self: center;
    justify-self: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.active:after{
    content: " *"
}

form{
    font-family: 'Lato-Regular', Arial, serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    text-indent: 5px;

}
form input{
    display: inline;
    text-indent: 4px;
    border-radius: 4px;
}

.email{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 15%;
    font-family: 'Lato-Regular', Arial, serif;
    font-size: 1.8em;
    text-indent: 20px;
}
.email-text{
    padding: 5px;
    border: none;
    border-radius: 4px;
    text-indent: 15px;
    height: 40%;
    font-family: 'Lato-Regular', Arial, serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    min-height: 90px;
}

.submit{
    font-family: 'Lato-Regular', Arial, serif;
    font-size: 2em;
    color: black;
    margin: 0;
    background-color: rgba(255,255,255, .9);
    border-radius: 10px;
    border: none;
    height: 15%;
    min-height: 50px;
}

.submit{
    transition: background-color .3s ease;
    background-color: rgba(255,255,255, .9);
}
.interested-text{
    align-self: center;
    font-size: 1.3em;
}

.radio{
    align-self: center;
    margin-left: 10px;
}

.interested-container{
    display: flex;
    padding: 20px;
}

.submit:hover{
    transition: all .3s ease;
    background-color: #A9251F;
    color: white;

}

@media (max-width: 980px){

    .contact-container{
        display: flex;
        padding: 70px;
        width: 70%;
        min-height: 700px;
    }

    .email{
        min-height: 50px;
        font-size: 1.5em;
        text-indent: 10px;
        width: 130%;
        align-self: center;
    }

    .email-text{
        width: 125%;
        align-self: center;
        font-size: 1.8em;
        text-indent: 0;
    }
    .interested-container{
        margin: 0px;
    }

    .radio{
        width: 20em;
    }

}

footer{
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: rgba(37,39,39, .5);
    text-align: center;
}

.main-wrapper:before{
    filter: blur(5px);
}
