@font-face{
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}

html{
    height: 100%;
}

a , body{
    text-decoration: none;
    color: white;
    font-family: 'Lato-Regular', Arial, serif;
}

.main-wrapper{
    display:flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    margin: 0px auto;
}

body{
    height: 100%;
    background-image: url("../images/crowd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #323232;
}

@media (max-width: 700px) {
    body {
        background-image: url('../images/crowdSmall.png');
        background-size: auto 100%;
    }
}

.feloy {
    padding-left: 20px;
    font-size: 3em;
    height: 10px;
}

nav  span{
    padding: 40px;
    display: inline-block;
    font-size: 1.3em;
    transition: all .2s ease;
}

nav a{

}

nav  span:hover{
    transform: scale(1.5);
}

.nav-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
}

@media (max-width: 980px){
    nav{
        display: flex;
        flex-direction: column;
    }

    nav span:hover{
        transform: scale(1);
    }

    nav  span {
        font-weight: bold;
        font-size: 1.5em;
    }

    .nav-wrapper{

        width: 70%;
        min-height: 550px;
        border-radius: 3px;
        margin: auto;
        margin-top: 30px;
        background-color: rgba(50,51,54, .6);
    }
}

.welcome-container{
    display:flex;
    flex-direction: column;
    margin-top: 80px;
    width: 50%;
    height: 40%;
    background-color: rgba(50,51,54, .6);

    align-self: center;
    justify-self: center;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

@media (max-width: 980px){

    .welcome-container{
        display: flex;
        min-height: 200px;
        padding: 70px;
        width: 70%;
        background-color: rgba(50,51,54, .7);

    }
}

.welcome{
    font-size: 3em;
    justify-self: flex-start;
}

.description{
    font-style: italic;
}

.active:after{
    content: " *"
}
